.navbar .container .brand .navbar-brand {
    color: blueviolet;
    font-size: 30px;
}

.navbar .container .collapse .navbar-nav .nav-item .nav-custom-link {
    color: blueviolet;
    cursor: pointer;
    font-weight: 500;
}

.navbar .container .input-group .form-group {
    width: 200px;
}

.navbar .container .input-group .form-group .search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
        border: 1px solid #ddd !important;
    }
}

.navbar .container .input-group .search-btn {
    background-color: blueviolet;
}

.navbar .container .input-group .btn .search-icon {
    color: white;
}

.navbar .container .input-group .list-group {
    width: 200px;
    top: 37px;
}

.navbar .container .input-group .list-group .list-group-item a {
    color: blueviolet;
    cursor: pointer;
}

.navbar-toggler {
    border: none;
}