.seller-auth .row .col-12 .signup .seller-signup h1,
.seller-auth .row .col-12 .login h1 {
    text-align: center;
    color: blueviolet;
    font-size: 30px;
}

.seller-auth .row .col-12 .signup .seller-signup .auth-toggle-link,
.seller-auth .row .col-12 .login .seller-login .auth-toggle-link {
    color: blueviolet;
    font-size: 14px;
    cursor: pointer;
    margin-left: 70px;
}

.seller-auth .row .col-12 .signup .seller-signup .signup-button,
.seller-auth .row .col-12 .login .seller-login .login-button {
    background-color: blueviolet;
    color: white;
}