<div class="seller-auth container">
    <div class="row">
        <div class="col-12">
            <!-- signup screen start here -->
            <ng-container *ngIf="!showStage">
                <div class="signup d-flex justify-content-center flex-column align-items-center">
                    <form class="seller-signup border p-3 shadow-sm mt-5" [formGroup]="sellerSignupForm"
                        (ngSubmit)="signup()">
                        <h1 class="my-4">Seller Signup</h1>
                        <!-- seller name form field -->
                        <mat-form-field appearance="outline" class="form-group w-100 d-block">
                            <mat-label>Seller Name</mat-label>
                            <input type="text" name="name" formControlName="user_name" class="form-control shadow-none"
                                placeholder="Enter seller Name" matInput />
                        </mat-form-field>

                        <!-- seller email form field -->
                        <mat-form-field appearance="outline" class="form-group w-100 d-block">
                            <mat-label>Seller Email</mat-label>
                            <input type="email" name="email" formControlName="user_email"
                                class="form-control shadow-none" placeholder="Enter seller email" matInput />
                        </mat-form-field>

                        <!-- seller password form field -->
                        <mat-form-field appearance="outline" class="form-group w-100 d-block">
                            <mat-label>Seller Password</mat-label>
                            <input type="password" name="password" formControlName="user_password"
                                class="form-control shadow-none" placeholder="Enter seller password" matInput />
                        </mat-form-field>

                        <!-- signup button -->
                        <button type="submit" class="btn signup-button w-100" [disabled]="sellerSignupForm.invalid"
                            mat-raised-button>Signup</button>

                        <a class="auth-toggle-link text-decoration-none" (click)="switchStage()">Already
                            have account?
                            Click to login</a>
                    </form>
                </div>
            </ng-container>
            <!-- signup screen end here -->

            <!-- login screen start here -->
            <ng-container *ngIf="showStage">
                <div class="login d-flex justify-content-center flex-column align-items-center">
                    <p class="error">{{authError}}</p>
                    <form class="seller-login border p-3 shadow-sm mt-5" [formGroup]="sellerLoginForm"
                        (ngSubmit)="login()">
                        <h1 class="my-4">Seller Login</h1>
                        <!-- seller email form field -->
                        <mat-form-field appearance="outline" class="form-group w-100 d-block">
                            <mat-label>Seller Email</mat-label>
                            <input type="email" name="email" formControlName="user_email"
                                class="form-control shadow-none" placeholder="Enter seller email" matInput />
                        </mat-form-field>

                        <!-- seller password form field -->
                        <mat-form-field appearance="outline" class="form-group w-100 d-block">
                            <mat-label>Seller Password</mat-label>
                            <input type="password" name="password" formControlName="user_password"
                                class="form-control shadow-none" placeholder="Enter seller password" matInput />
                        </mat-form-field>

                        <!-- login button -->
                        <button type="submit" class="btn login-button w-100" [disabled]="sellerLoginForm.invalid"
                            mat-raised-button>Login</button>

                        <a class="auth-toggle-link text-decoration-none" (click)="switchStage()">Don't have account?
                            Click to signup</a>
                    </form>
                </div>
            </ng-container>
            <!-- login screen end here -->
        </div>
    </div>

</div>